package(default_visibility = ["//visibility:pubic"])

load(
  "@io_tweag_rules_haskell//haskell:haskell.bzl",
  "haskell_library",
  {{# insert_toolchain }}
  "haskell_toolchain",
  {{/ insert_toolchain }}
)

{{# insert_toolchain }}
haskell_toolchain(
  name = "ghc",
  version = "8.2.2",
  tools = "@ghc//:bin",
)
{{/ insert_toolchain }}

haskell_library(
  name = "{{& library_name }}",
  srcs = [
    {{# srcs }}
    "{{& . }}",
    {{/ srcs }}
  ],
  deps = [
    {{# deps }}
    "@{{& . }}//:{{& . }}",
    {{/ deps }}
  ]
)
